:root {
    --title-background: #95B2A7;
    --accent-color: #AAAAAA;
}

* {
    /* box-sizing: border-box; */
}

/* Header General Styling & Flexbox start */
header {
    position: fixed;
    width: 100%;
    background-color: var(--accent-color);
    border-bottom: solid 5px #DDDDDD;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
/* Lo Selby Header Box Specific Styling */
.lo {
    background-color: var(--title-background);
    width: 250px;
    font-size: 30px;
    height: 50px;
    padding: 10px;
    flex: 1 0 auto;
   /* text-align:center; */
    /* flex: 1 1 100px; */
}



/* Nav Bar Styling */
.nav-link {
    display: inline-block;
    gap: 10px;
    font-size: 17px;
    height: 50px;
    padding: 17px;
    flex: 1 0 0;
    flex-wrap: wrap-reverse;
    
}
/* Remove Link Decoration & Link Coloring on Header linked content */
.nav-link a, .lo a {
    color: #0A0A0A;
    text-decoration: none;
}
/* Pseudo Classes for Navbar Links */
.nav-link:hover, .nav-link:focus, .nav-link:active {
    background-color: var(--title-background);
    cursor: pointer;
    color: #0A0A0A;
    text-decoration: none;
}
/* Wood Grain Background Section Image + Flexbox */
.background {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/treering.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
/* Subtitle styling */
.subtitle {
    background-color: var(--title-background);
    font-size: 25px;
    width: 350px;
    padding: 10px;
    
}
/* Main Sections' flexbox container for positioning left & right side of the main content */
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px;

}
/* Main Sections' h2 styling*/
.main-header h2 {
    font-size: 27px;
   padding: 20px;
   border-right: dotted #0A0A0A 2px;
}
/* Main content p tag formatting width & right margins */
.main-header p {
    width: 60%;
    margin-right: 15px;
}

/* Work Image Flexbox */
.workflex {
    width: 60%;
    margin-right: 15px;
}
/* Contact Me Section Flexbox for Links */
.contactflex {
    width: 60%;
    margin-right: 15px;
}

footer {
    background-color: var(--accent-color);
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}

/* Media Queries! */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .nav-link:hover {
        background-color: #DDDDDD;
    }
}

@media screen and (max-width: 576px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-link {
        flex-basis: 100%;
        text-align: center;
        padding: 40px;
    }

    .nav-link:hover {
        background-color: #DDDDDD;
    }

}