:root {
    --title-background: #95B2A7;
}

* {
    /* box-sizing: border-box; */
}

/* Header General Styling & Flexbox start */
header {
    background-color: #AAAAAA;
    border-bottom: solid 5px #DDDDDD;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
/* Lo Selby Header Box Specific Styling */
.lo {
    background-color: var(--title-background);
    width: 250px;
    font-size: 30px;
    height: 50px;
    padding: 10px;
    flex: 1 0 auto;
   /* text-align:center; */
    /* flex: 1 1 100px; */
}
/* Nav Bar Styling */

.nav-link {
    display: inline-block;
    gap: 10px;
    font-size: 17px;
    height: 50px;
    padding: 17px;
    flex: 1 0 0;
    flex-wrap: wrap-reverse;
    
}
/* Remove Link Decoration & Link Coloring */
.nav-link a {
    color: black;
    text-decoration: none;
}
/* Pseudo Classes for Navbar Links */
.nav-link:hover, .nav-link:focus, .nav-link:active {
    background-color: #95B2A7;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
/* Wood Grain Background Section Image + Flexbox */
.background {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/treering.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}
/* Subtitle styling */
.subtitle {
    background-color: var(--title-background);
    font-size: 25px;
    width: 350px;
    padding: 10px;
    
}
/* about me section flexbox container */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px;

}
/* about me header & border */
.about-me h2 {
    font-size: 27px;
   padding: 20px;
   border-right: dotted black 2px;
}

.about-me p {
    width: 60%;
    margin-right: 15px;
}
/* Work flexbox container */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px;
}
/* Work header & border */
#work {
    font-size: 27px;
   padding: 20px;
   border-right: dotted black 2px;
}
/* Work Image Flexbox */
.workflex {
    width: 60%;
    margin-right: 15px;
}

/* Contact Me flexbox container */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px; 
}
/* Contact Me Header & Border */
#contact-me {
    font-size: 27px;
    padding: 20px;
    border-right: dotted black 2px;
}
/* Contact Me Info Flex */
.contactflex {
    width: 60%;
    margin-right: 15px;
}

/* Media Queries! */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 576px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-link {
        flex-basis: 100%;
        text-align: center;
        padding: 40px;
    }

}