:root {
    --primary-color: #95B2A7;
    --secondary-color: #AAAAAA;
    --accent-color: #DDDDDD;
}

body, a {
    color: #0A0A0A;
}

/* Header General Styling & Flexbox start */
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: var(--secondary-color);
    border-bottom: solid 5px var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
/* Lo Selby Header Box Specific Styling */
.lo {
    background-color: var(--primary-color);
    /* width: 250px; */
    font-size: 30px;
    height: 50px;
    padding: 10px;
    flex: 1 0 auto;
}


/* Nav Bar Styling */
.nav-link {
    display: inline-block;
    gap: 10px;
    font-size: 17px;
    height: 50px;
    padding: 17px; 
}

/* LINK STYLING */
/* Pseudo Classes for Navbar Links */
.nav-link:hover, .nav-link:focus, .nav-link:active {
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Pseudo Classes for Contact Me Links */
.contactme-link a:hover, .contactme-link:active {
    color: var(--primary-color);
    font-weight: bolder;
    text-shadow: 0 3px 0 #aaaaaa3b;
    cursor: pointer;
}


/* Woodgrain Background Section Image + Flexbox */
.background {
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/treering.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
/* Subtitle styling */
.subtitle {
    background-color: var(--primary-color);
    font-size: 25px;
    width: 350px;
    padding: 10px;
    
}

/* Headshot Formatting */
.headshot img {
    border-radius: 45%;
}

/* HTML Main Tag Sections flexbox container for positioning left & right side of the main content */
.main-content {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px;

}

/* Main Content Section' h2 styling*/
.main-content h2 {
    font-size: 27px;
   padding: 15px;
   border-right: dotted #0A0A0A 2px;
}

/* Main Content Sections' p tag formatting width & right margins */
.main-content p {
    width: 60%;
    margin-right: 15px;
}

/* Work Images Flexbox */
.workflex {
    width: 60%;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Image Box Flex Adjustment */
.imgbox {
    flex: 1 0 50%;  
}

/* Image Width Adjustment in the Flexbox */
.imgbox img {
    width: 100%;
    height: 100%;
}

/* Mt Baker Background Image 100% flex-basis so it always takes up 100% of the width in the flexbox */
#mtbaker {
    flex-basis: 100%;
}

/* Text Boxes on Image Styling */

.text-box {
    position: relative;
    bottom: 80px;
    background-color: #aaaaaac7;
    color: #0A0A0A;
    width: 50%;
    padding: 10px;
    flex: 1 0 50%;
    
}

/* Contact Me Section Sepcific Styling */


.contactflex {
    width: 60%;
    margin-right: 15px;
    text-align: center;
} 


.contactme-link {
    display: inline-flex;
    padding: 15px;
}


/* Footer Styling */
footer {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}

/* Media Queries! */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    #secondaryimage {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 576px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-link {
        flex-basis: 100%;
        text-align: center;
        padding: 40px;
        width: 100%;
    }

    #contact-me {
        font-size: 22px;
    }

}